@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  /* Webpage Defaults */
  font-family: "Inter", sans-serif;

  /* Color Declaratiom */

  --Blue: #345ff6;
  --Gunmetal: #253347;
  --Dark-Electric-Blue: #5e6e85;
  --Border-Color: #d8e2e7;
  --White: #ffffff;
  --Radio-Check-Background: rgb(52, 95, 246, 0.15);

  /* Font Declaration */

  --Heading-XL: 600 4rem/110% "Inter", sans-serif;
  --Heading-L: 600 3rem/110% "Inter", sans-serif;
  --Heading-M: 600 1.5rem/110% "Inter", sans-serif;
  --Heading-S: 600 1.25rem/110% "Inter", sans-serif;

  --Body-M-Regular: 400 1rem/150% "Inter", sans-serif;
  --Body-M-Bold: 600 1rem/150% "Inter", sans-serif;
  --Body-S-Regular: 400 0.875rem/150% "Inter", sans-serif;

  --Box-Shadow: 1rem 2rem 3.5rem rgb(143, 174, 207, 0.25);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--White);
  font-size: 16px;
  overflow: overlay;
}

p {
  margin-bottom: 0;
}
/* Scroll Bar Design */

::-webkit-scrollbar {
  display: none;
}

div.card {
  background-color: var(--White);
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: var(--Box-Shadow);
  width: fit-content;
}

.container {
  margin: 0 8.75rem;
}

.gap-32 {
  gap: 2rem;
}

section.section-height {
  padding: 0 8.75rem;
  margin: 6rem 0;
}

div.logo {
  margin-bottom: 1.25rem;
}

div.bmi-result {
  background: var(--Blue);
  padding: 2rem;
  border-radius: 8rem 100rem 100rem 8rem;
  color: white;
}

section#hero :nth-child(2):nth-child(1) {
  width: 80%;
}

/* Radio Button Styling */

.radio label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.125rem;
  font: var(--Body-M-Bold);
  text-transform: capitalize;
}

input[type="radio"] {
  appearance: none;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  border: 0.066rem solid var(--Border-Color);
  background-color: none;
  display: grid;
  place-content: center;
  transition: background-color 0.1s ease-in;
}

input[type="radio"]::before {
  content: "";
  height: 1rem;
  width: 1rem;
  display: block;
  background-color: var(--Blue);
  border-radius: 50%;
  margin: auto;
  transform: scale(0);
  transition: transform 100ms ease-in;
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

input[type="radio"]:checked {
  background-color: var(--Radio-Check-Background);
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.radio-group {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1.5rem;
  width: 100%;
}

input[type="number"] {
  border: 0.066rem solid var(--Border-Color);
  padding: 1.25rem 1.5rem;
  font: var(--Heading-M);
  width: 100%;
  border-radius: 0.75rem;
  -moz-appearance: textfield;
}

input[type="number"]:focus-visible {
  border: 0.066rem solid var(--Border-Color);
  padding: 1.25rem 1.5rem;
  outline: none;
}

input[type="text"]:active {
  border: 0.066rem solid var(--Border-Color);
  padding: 1.25rem 1.5rem;
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

div.text-field label {
  font: var(--Body-S-Regular);
  color: var(--Dark-Electric-Blue);
  text-transform: capitalize;
}

div.text-field {
  gap: 0.5rem;
}

.gap-24 {
  gap: 1.5rem;
}

.gap-16 {
  gap: 1rem;
}

.input-container {
  position: relative;
}

span.unit {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  font: var(--Heading-M);
  color: var(--Blue);
}

p.description {
  font: var(--Body-M-Regular);
  color: var(--Dark-Electric-Blue);
  margin: 0;
  padding: 0;
}


div.habit-card {
  gap: 2.75rem;
}

span.title {
  font: var(--Heading-M);
  color: var(--Gunmetal);
}


section.bmi-description {
  margin: 4rem 0;
}

div.habit-box{
  margin: 4.75rem 0;
}

img.icon{
  height: 2rem;
  width: 2rem;
}

div.card-headers{
  gap: .5rem;
  text-transform: capitalize;
}

div.card-body{
  gap:.5rem;
}

div.limitation-box{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 60vw;
}

div.limitations-header{
  position: absolute;
  width: 40vw;
}

span.card-titles{
  font: var(--Heading-S);
  color: var(--Gunmetal);
}

span{
  margin: 0;
}

.mobile{
  display: none!important;
}

div.gradient-background{
  position: absolute;
  width: 70vw;
  height: 80vh;
  background: rgb(214,230,254);
  background: rgb(214,230,254);
  background: -moz-linear-gradient(135deg, rgba(214,230,254,0) 0%, rgba(214,252,254,1) 100%);
  background: -webkit-linear-gradient(135deg, rgba(214,230,254,0) 0%, rgba(214,252,254,1) 100%);
  background: linear-gradient(135deg, rgba(214,230,254,0) 0%, rgba(214,252,254,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d6e6fe",endColorstr="#d6fcfe",GradientType=1);
  top: 0;
  left: 1vw;
  z-index: -1;
  border-radius: 0 0 2rem 2rem;
}