@media (min-width: 350px) and (max-width:799px){
    section.section-height {
        padding: 0 1.5rem;
        margin: 3rem 0;
    }

    div.logo{
        margin-bottom: 1.5rem!important;
    }
    
    div.limitations-header {
        position: relative;
        width: 100%;
    }

    div.limitation-box{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 100%;
    }

    .desktop{
        display: none!important;
    }
    .mobile{
        display: flex!important;
    }
    div.gradient-background{
        position: absolute;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: 0 0 2rem 2rem;
    }
    div.bmi-result {
        border-radius: 1.5rem;
        color: white;
      }
}